{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
  }]
  ],
  "plugins": [
    ["import", {
      "libraryName": "@material-ui/core",
      "libraryDirectory": "",  // default: lib
      "camel2DashComponentName": false,  // default: true
    }],
    ["import", {
      "libraryName": "@material-ui/icons",
      "libraryDirectory": "",
      "camel2DashComponentName": false,
    }],
    "ramda",
  ],
}
